.stopwatch svg {
  transform: scaleX(-1);
}
.action-buttons .container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-auto-columns: 60% 20% 20%;
  /* grid-template-rows: 100%; */
  grid-template-areas: "play add shutdown"
}
.action-button {
  font-size: 5px;
  border-width: 1px;
}
.action-button:first-child {
  border-bottom-left-radius: 5px;
}
.action-button:last-child { 
  border-bottom-right-radius: 5px;
}
.play {
  grid-area: play;
}
.add {
  grid-area: add;
}
.shutdown {
  grid-area: shutdown;
}